$borderColor: #bfbfc0
$borderColorSend: #86f08b
$borderColorReceived: #8fbdf1
$backgroundColorSend: #b0f7b4
$backgroundColorReceived: #b0d1f7

.chat-panel   
    display: flex
    width: 100%
    height: 100%
    border-color: $borderColor
    box-sizing: border-box
    height: 770px
    padding: 5px
    box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6) inset
    flex-direction: column
    overflow-y: auto
    overflow-x: hidden
    .message
        position: relative
        height: auto
        max-height: max-content
        flex-direction: column
        border: 1px solid
        border-radius: 4px
        box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.6)
        cursor: pointer
        display: flex
        input[type=checkbox]
            display: none
            &:checked ~ .description
                position: relative
                overflow: visible
                text-overflow: clip
                height: max-content
        .description
            height: 200px
            padding: 5px
            font-size: 0.9rem
            box-sizing: border-box
            scroll-snap-align: start
            cursor: pointer
            overflow: hidden
    .message-received
        background-color: $backgroundColorReceived
        margin: 5px 20% 5px 5px
        border-color: $borderColorReceived
    .message-send
        background-color: $backgroundColorSend
        margin: 5px 5px 5px 20%
        border-color: $borderColorSend