$borderColor: #bfbfc0
$textColor: #284666

.user-panel   
    display: flex
    width: 200px
    height: 770px
    box-sizing: border-box
    border-right-style: solid
    border-right-color: $borderColor
    border-right-width: 1px
    overflow-y: auto
    overflow-x: hidden
    scroll-snap-type: y mandatory
    align-items: flex-start
    justify-content: flex-start